ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  li {
    font-size: 18px;
  }
  
  a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: #ffd700;
  }
  
  .titulo1{
    color: rgb(255, 255, 255);
       
  }

  .boton-inicio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 125px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 3px solid #8d4001;
   
}

.boton-inicio:hover {
    background-color: #8d4001; /* Green */
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(251, 255, 0);
  transition: all 0.2s ease;
}

/*aqui va todo el footer*/

.pie-pagina{
  position: absolute;
  height: 50px;
  bottom: 0; /* posición en la parte inferior */
  width: 100%; /* ancho completo */
  background-color: rgba(0, 0, 0, 0.658);
}
 .pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 50px 0px;
    
 }
 .pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
 }
 .pie-pagina .grupo1 .box figure img{
    width: 250px;
 }
 .pie-pagina .grupo1 .box h2{
    color: blanchedalmond;
    margin-bottom: 25px;
    font-size: 20px;
 }

 .pie-pagina .grupo1 .box p{
    color: aliceblue;
    margin-bottom: 10px; 
 }

 .pie-pagina .grupo1 .red-social a{     
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: beige;
    margin-right: 10px;
    background-color: #020b14;
    text-align: center;
    transition: all 300ms ease;

 }
 .pie-pagina .grupo1 .red-social a:hover{
    color: rgb(255, 0, 0); 
 }
 .pie-pagina .grupo2{
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: wheat;


 }
 .pie-pagina .grupo2 small{
    font-size: 15px;
 }

 @media screen and(max-width:800px){
    .pie-pagina .grupo1{
        width: 90%;

        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
     }
    
 }
/*aqui termina todo el footer*/


/* Aqui Empieza los estilos del carrusel*/

.content-all{
  width: 300px;
  margin: 250px;
  perspective: 800px;
  position: relative;
  margin-top: 3%;
  margin-bottom: 20px; /* altura del footer */

}

.content-carrousel{
  width: 100%;
  height: 100%;
  position: absolute;
  animation: rotar 20s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel figure{
  width: 100%;
  height: 120%;
  overflow: 100%;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;



}

.content-carrousel figure:hover{

  box-shadow: 0px 0px 0px 0px black;
  transition: all 360ms;

}
.content-carrousel:hover{
  animation-play-state: paused;
}

.content-carrousel img{
  width: 100%;
  transition: all 300ms;
  
}

.content-carrousel figure:nth-child(1){
  transform: rotateY(90deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2){
  transform: rotateY(180deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3){
  transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4){
  transform: rotateY(360deg) translateZ(300px);
}


.content-carrousel img:hover{
 transform: scale(1.2);
 transition: all 300ms;
 cursor: pointer;

}


@keyframes rotar{
  from{
      transform: rotateY(0deg);
  }to{
      transform: rotateY(360deg);
  }
}
/* Aqui Termina el css de el carrusel*/

/**aqui empieza el codigo del css del texto alado del carrusel*/

.contenido-texto{
      width: 500px;
			height: 500px;
			float: right;
      text-align: center;
      margin: auto;
}
.contenido-texto h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.contenido-texto h2{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Aqui estan los estilos de la tabla de posiciones*/

.tabla-posiciones{
  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }

 .titulo-tabla{
    color: rgba(255, 0, 0, 0.541);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .subtitulo{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .texto-posiciones{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .tabla-posiciones {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tabla-posiciones th, .tabla-posiciones td {
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    text-align: center;
  }
  
  .tabla-posiciones th {
    background-color: #ca0000be;
    color: white;
  }
  
  .tabla-posiciones tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tabla-posiciones tr:hover {
    background-color: rgba(151, 12, 12, 0.39);
  }
  .tabla{
    margin: 35px;
    background-color: white;

  }

  /* Aqui va los estilos del login */
  
  .contenido-login{
    display: flex;
  justify-content: center;

  }
 
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 120px;
    padding: 30px;
    text-align: center;
    width: 500px;
    height: auto;
  }
  
  h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .button-login[type="submit"] {
    background-color: rgba(92, 2, 2, 0.842);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
  }
  .button-login:hover {
    background-color: #030201; /* Green */
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(255, 4, 4);
  transition: all 0.2s ease;
}

/* Equipos*/
.contenido-equipos{
  margin: 200px;


}

/* Estilos para los Partidos*/

.tabla2 {
  border-collapse: collapse;
  width: 100%;
}

.tabla2 th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla2 th {
  background-color: #f2f2f2;
  font-weight: bold;
}

